body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
}
body.freeze {
    overflow: hidden;
}
header {
    width: 100%;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 2000;
    position: fixed;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
    align-content: stretch;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
header li {
    padding: 20px 0;
    display: inline-block;
}
header img {
    margin-right: 20px;
}
header a {
    margin: 0 10px;
    text-decoration: none;
    font-weight: 300;
    color: #9fa9b1;
}
header a:hover {
    text-decoration: underline;
}
menu {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
}

/* reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* general */
.hide {
    display: none!important;
}
.title-section {
    font-size: 30px;
    padding: 20px 0 30px 0;
    font-weight: 300;
}

.container {
    width: 100%;
    display: block;
    max-width: 1050px;
    margin: 30px auto;
}


/* Meepup section */
.meetup {
    margin-top: 70px;
}
.meetup .card {
    width: 318px;
}
.meetup .cover {
    width: 100%;
    margin: 12px 0 19px 0;
    transition: 0.3s;
}
.meetup .date {
    font-size: 15px;
    margin-bottom: 7px;
}
.meetup .location {
    font-size: 14px;
    line-height: 32px;
}
.meetup .application {
    font-size: 14px;
}
.meetup i {
    font-size: 15px;
    width: 20px;
    display: inline-block;
}

/* Webinar section */
.webinar .card {
    width: 400px;
    height: 600px;
}
.webinar h3 {
    padding: 20px 17px 0 17px;
}
.webinar img {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    object-fit: cover;
}
.webinar .info {
    margin: 10px 0;
    padding-bottom: 0!important;
}
.webinar span {
    font-size: 14px;
    margin-bottom: 5px;
}
.webinar i {
    margin-right: 5px;
}
.webinar .free {
    color: #e0e0e0;
}

/* Card */
.cards {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 7px;
    position: relative;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card .head {
    padding: 20px 17px 0 17px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}
.card h3 {
    color: #2A2E33;
    font-weight: 500;
}
.card .info {
    padding: 0 17px 20px 17px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch;
    color: #727679;
}
.card .cta {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    margin: 0 17px 16px 0;
}
.card .btn.light {
    display: inline-block;
    margin-right: 4px;
}
.card p {
    color: #727679;
    font-weight: 300;
    font-size: 15px;
    padding: 17px 17px 0 17px;
    line-height: 22px;
}
.card.horizontal {
    width: 100%;
    height: 350px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.card.horizontal img {
    width: 400px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.card.horizontal .content {
    padding: 20px 17px 20px 0;
}
.card.horizontal h3 {
    padding-left: 17px;
    margin-bottom: 20px;
}
.card.horizontal .cta {
    margin-top: 20px!important;
}
.card.premium {
    background: #04569c14;
    width: 600px;
}
.card.horizontal .share {
    left: 20px;
}

.card:hover .cover {
    opacity: 0.5;
}
.card:hover .share {
    opacity: 1;
}

/* Modal */
.modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    z-index: 5000;
}
.modal .content {
    width: 484px;
    height: 346px;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 7px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #97A1AB;
    padding: 48px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
}
.modal .fa-times {
    position: absolute;
    right: 21px;
    top: 21px;
    font-size: 16px;
    cursor: pointer;
    font-size: 20px;
}
.modal h3 {
    margin-bottom: 27px;
    font-weight: 300;
    font-size: 22px;
}
.modal p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 10px;
}
.modal .cta {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: stretch;
    margin: 25px 0 0 0;
}
.modal .date {
    font-weight: 300;
    font-size: 12px;
}
.modal .date i {
    margin-bottom: 15px;
    margin-right: 6px;
}
.modal .status {
    text-align: center;
}
.modal .status i.success {
    color: #64B437;
}
.modal .status i.error {
    color: #C9413A;
}
.modal .status i {
    font-size: 40px;
    display: block;
    margin-bottom: 20px;
}
.modal .status strong {
    color: #2A2E33;
    font-size: 24px;
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
}
.modal .status p {
    color: #97A1AB;
    font-size: 14px;
    font-weight: 300;
}

.modal[data-status="message"] .wrapper {
    display: none;
}
.modal[data-status="message"] .status {
    display: block;
}
#contentModal {
    position: absolute;
}

/* Tags */
.tag {
    font-size: 11px;
    font-weight: 12px;
    border-radius: 3px;
    margin: 4px 3px 0 0;
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #97A1AB;
}

/* Toast */
.toast {
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 100px;
    width: 365px;
    height: 35px;
    border-radius: 4px;
    padding: 0 10px;
    z-index: 1024;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    color: #fff;
}
.toast span {
    font-size: 13px;
    font-weight: 300;
}
.toast i {
    margin-right: 5px;
    font-size: 15px;
}
.toast img {
    cursor: pointer;
}
.toast.error {
    background: #C9413A;
}
.toast.success {
    background: #64B437;
}
.toast.info {
    background: #2F76C8;
}

/* Buttons */
.btn {
    padding: 8px 14px;
    font-weight: 300;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid #2F76C8;
    transition: background-color .2s ease-in;
}
.btn.disabled,
.btn.disabled:hover {
    cursor: default;
    background-color: #dae0e5!important;
    border-color: #dae0e5;
    color: #9fa9b1!important;
}
.btn.light {
    color: #2F76C8;
}
.btn.light:hover {
    background-color: #eff3f7;
}
.btn.light:active {
    background-color: #cee3f7;
}
.btn.dark {
    background: #0975ce;
    color: #fff;
}
.btn.dark:hover {
    background-color: #2a9cf5;
}
.btn.dark:active,
.btn.dark.active {
    background-color: #04569c;
}

/* Share */
.share-bt {
    position: absolute;
    left: 20px;
    color: #727679;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.3s;
}
.share.float {
    width: 250px;
    top: 150px;
    right: 0;
    margin: auto;
    padding: 10px;
    z-index: 2000;
    border-radius: 7px;
    opacity: 0;
}
.share {
    position: absolute;
    left: 0;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    list-style: none;
}
.share li {
    height: 20px;
    margin: 0 2px;
}
footer {
    text-align: center;
    font-weight: 300;
    padding: 20px 0;
    background-color: rgb(41, 46, 51);
    color: #fff;
    font-size: 12px;
    margin-top: 70px;
}